$font-primary: 'Roboto', helvetica, sans-serif;

$grid-breakpoints: (xxs: 0, xs: 320px, sm: 576px, md: 769px, lg: 992px, xl: 1200px, xxl: 1441px) !default;

$ease: ease-out;

/* ==========  COLORS  ========== */
$color-bg: #000000;
